/* styles.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

canvas {
    display: block;
}

.start-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;  /* Increase text size */
    padding: 16px 40px;  /* Bigger button */
    background-color: #8f5bbd;  /* Your purple */
    color: white;
    border: none;
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover {
    background-color: white;
    color: #8f5bbd;
    border: 2px solid #8f5bbd;
}
